body {
    margin: 0;

    /* Fonts */
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.container {
    width: 100%; /* vw */
    height: 100%; /* vh */

    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 100px;
    grid-gap: 10px;

    /* Misc */
    box-sizing: border-box;
    justify-content: center;
    padding: 10px;
}

header,
main,
aside,
footer {
    border: 5px solid black;
    padding: 10px;

    /* Centering content */
    /* 6 different ways */
    /* https://stackoverflow.com/questions/45536537/centering-in-css-grid */
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    /* grid-column-start: 1;
    grid-column-end: 5; */
    grid-column: 1/5;
}

main {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: span 2; /* instead of 4 */
}

aside {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

footer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
